body,
html {
    background-image: linear-gradient(155deg, rgb(172, 245, 255), rgb(120, 172, 231));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 80vw;
    max-width: 960px;
    min-height: 100vh;
}

header,
main {
    padding: 25px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

main section {
    margin-bottom: 25px;
}

form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    background-image: linear-gradient(155deg, rgb(172, 245, 255), rgb(120, 172, 231));
    border-radius: 5px;
    transition: all 0.5s;
}

input {
    max-width: 20%;
    padding: 5px;
    font-size: 1.1rem;
    border: 0;
}

label:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.buttonbox {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 50px;
    text-align: center;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
    border: solid 3px;
}

.submitbutton {
    border-color:rgb(81, 97, 240);
    color: rgb(81, 97, 240);
}

.submitbutton:hover {
    background-color: rgb(81, 97, 240);
    color:rgb(255, 255, 255);
}

.resetbutton {
    border-color: rgb(214, 20, 59);
    color: rgb(214, 20, 59);
}

.resetbutton:hover {
    background-color: rgb(214, 20, 59);
    color:rgb(255, 255, 255);
}


@media only screen and (max-width: 600px) {

    header,
    main {
        margin-bottom: 0px;
    }

    .wrapper {
        width: 100vw;
    }

}